.connections-page {
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: max-content 1fr;
    height: 100%;
    overflow: hidden;
}

.connections-header {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}

.connections-sidebar {
    grid-row: 2;
    grid-column: 1;
    background: green;
    height: 100%;
    overflow-y: auto;
    border-right: 1px solid #333;
}

.connections-content {
    grid-row: 2;
    grid-column: 2;
    background: pink;
    height: 100%;
    overflow: auto;
}