.breadcrumb-links ::deep .divider {
    font-size: 11px;
    margin-left: 10px;
    margin-right: 10px;
    color: #ccc;
    vertical-align: top;
    line-height: 24px;
}

    .breadcrumb-links ::deep .divider:last-child {
        display: none;
    }
