<div class="footer-panel">
    <div class="connection-panel">
        <span class="connection-icon fa-solid fa-sharp fa-plug"></span>
        <span class="connection-status">Connected</span>
        <span class="connection-server">localhost:1883</span>
    </div>
</div>

@code {

}
