<div class="toolbar">
    <div class="toolbar-menu">
        <button class="btn btn-menu"><span class="icon fa-solid fa-sharp fa-bars"></span></button>
    </div>
    <div class="toolbar-logo">
        <img class="logo logo-negative" src="img/uns-net-logo-01-negative.svg" />
        <img class="logo logo-positive" src="img/uns-net-logo-01-positive.svg" />
    </div>
    <div class="toolbar-title">
        <span class="title">UNS<span class="subtitle">Explorer</span></span>
    </div>
</div>
