@page "/"

<div class="connections-page">
    <div class="connections-header">
        <Header />
    </div>
    <div class="connections-sidebar">
        <ConnectionList />
    </div>
    <div class="connections-content">
        <ConnectionSettings />
    </div>
</div>

@code {

}
