.event-publish-panel {
    display: grid;
    grid-template-rows: max-content max-content 1fr;
    grid-template-columns: 1fr max-content;
    padding-top: 20px;
}

.title-panel {
    grid-row: 1;
    grid-column: 1;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 20px;
    color: #d3e6f8;
}

.toolbar-panel {
    grid-row: 1;
    grid-column: 2;
    padding-right: 20px;
}

    .toolbar-panel .btn-toolbar {
        display: inline-block;
        height: 50px;
        background: var(--accentVeryDark);
        color: #fafafa;
        border-radius: 2px;
        transition: none;
        width: 120px;
        font-size: 14px;
        font-weight: 500;
    }

        .toolbar-panel .btn-toolbar:hover {
            background: var(--accent);
        }

        .toolbar-panel .btn-toolbar:focus {
            box-shadow: none;
        }

        .toolbar-panel .btn-toolbar .icon {
            color: #fafafa;
            margin-right: 12px;
            font-size: 18px;
        }

.path-panel {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 20px 20px 10px;
}

    .path-panel ::deep .rz-textbox {
        background: #040d16;
        color: white;
        width: 100%;
        font-size: 14px;
        padding: 10px;
        border: 1px solid var(--accent);
        border-radius: 0;
    }

        .path-panel ::deep .rz-textbox:hover {
            background: #081a2b;
            border: 1px solid var(--accentLight);
        }

.input-panel {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 5px 20px;
}

    .input-panel ::deep .rz-textarea {
        background: #040d16;
        color: white;
        width: 100%;
        min-height: 200px;
        max-height: 100%;
        font-size: 14px;
        padding: 10px;
        border: 1px solid var(--accent);
        border-radius: 0;
    }

        .input-panel ::deep .rz-textarea:hover {
            background: #081a2b;
            border: 1px solid var(--accentLight);
        }