<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />

    <link rel="stylesheet" href="font-awesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="font-awesome/css/light.min.css" />
    <link rel="stylesheet" href="font-awesome/css/regular.min.css" />
    <link rel="stylesheet" href="font-awesome/css/duotone.min.css" />
    <link rel="stylesheet" href="font-awesome/css/solid.min.css" />
    <link rel="stylesheet" href="font-awesome/css/brands.min.css" />
    <link rel="stylesheet" href="font-awesome/css/sharp-light.min.css" />
    <link rel="stylesheet" href="font-awesome/css/sharp-regular.min.css" />
    <link rel="stylesheet" href="font-awesome/css/sharp-duotone.min.css" />
    <link rel="stylesheet" href="font-awesome/css/sharp-solid.min.css" />

    <link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css">

    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Uns-Explorer.styles.css" />

    <HeadOutlet />

</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
</body>

</html>
